<md-content class="md-padding" layout="row" layout-wrap flex>
	<div flex="50" flex-gt-sm="25" layout="column">
		<md-card ng-click="cf.goTo('#!/nutrition')" role="button">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Nutrition</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				Icon
			</md-card-content>
		</md-card>
	</div>

	<div flex="50" flex-gt-sm="25" layout="column">
		<md-card ng-click="cf.goTo('#!/nutrition')" role="button">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Fitness</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				Icon
			</md-card-content>
		</md-card>
	</div>

	<div flex="50" flex-gt-sm="25" layout="column">
		<md-card ng-click="cf.goTo('#!/nutrition')" role="button">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Med-Time Reminder</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				Icon
			</md-card-content>
		</md-card>
	</div>

	<div flex="50" flex-gt-sm="25" layout="column">
		<md-card ng-click="cf.goTo('#!/nutrition')" role="button">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Apponitments</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				Icon
			</md-card-content>
		</md-card>
	</div>

	<div flex="50" flex-gt-sm="25" layout="column">
		<md-card ng-click="cf.goTo('#!/nutrition')" role="button">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">CF Community</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				Icon
			</md-card-content>
		</md-card>
	</div>
</md-content>