<md-content class="md-padding" layout="row" layout-wrap flex>
	<div flex="100" flex-gt-sm="50" layout="column">
		<md-card ng-click="cf.goTo('nutrition')" role="button">
		<img ng-src="./src/img/nutriton3.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Nutrition</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>

	<div flex="100" flex-gt-sm="50" layout="column">
		<md-card ng-click="cf.goTo('fitness')" role="button">
		<img ng-src="./src/img/fitness1.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Fitness</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>

	<div flex="100" flex-gt-sm="50" layout="column">
		<md-card ng-click="cf.goTo('Apponitments')" role="button">
		<img ng-src="./src/img/appointment.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Apponitments</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>

	<div flex="100" flex-gt-sm="50" layout="column">
		<md-card ng-click="cf.goTo('community')" role="button">
		<img ng-src="./src/img/community.jpg" class="md-card-image" alt="Washed Out">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">CF Community</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
</md-content>